pandas
sentencepiece
scipy      
tqdm        
protobuf    
huggingface_hub
gunicorn
flask
flask-cors
torch
transformers
sentence-transformers
faiss-cpu
nltk
accelerate
bitsandbytes
peft
python-dotenv

